/*Ipad ngang(1024 x 768)*/
.card {
    width: 30%;
}
@media screen and (max-width: 1024px) {
    .card {
        width: 70%;
    }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    .card {
        width: 70%;
    }
    ul li:hover > .dropdown,
    ul li .dropdown:hover {
        position:relative;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .card {
        width: 70%;
    }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
    .card {
        width: 70%;
    }
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
    .card {
        width: 70%;
    }
}
