@{
    Layout = "~/Views/Shared/_Layoutlogin.cshtml";


}
@model Webthuexe.Models.show
<link rel="stylesheet" href="~/Content/css/custome.css">
<div class="card text-center">

    <div class="card-body">

        <h5 class="card-title mb-4">Cập nhật</h5>
        @if (Session["checkpass"].ToString() == "false")
        {
            <p style="color: red;font-weight:bold;">Mật khẩu cũ không hợp lệ</p>
        }
        @if (Session["checknewpass"].ToString() == "false")
        {
            <p style="color: red;font-weight:bold;">Mật khẩu cũ và mời trung khớp</p>
        }
        @if (Session["checkpass"].ToString() == "false")
        {
            <p style="color: red;font-weight:bold;">Mật khẩu mới không hợp lệ</p>
        }
        @using (Html.BeginForm("password", "Account", FormMethod.Post))
        {



            foreach (var info in Model.tKKHACHHANGs.ToList())
            {
                <div class="row form-group">
                    <div class="back-index">
                        <a href="@Url.Action("Account_information", "Account") class="float-left">< Quay lại tài khoản</a>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <input type="text" class="form-control" name="oldpassword" maxlength="16" placeholder="Mât khẩu cũ">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <input type="text" class="form-control" name="newpassword" maxlength="16" placeholder="Nhập mật khẩu mới">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <input type="text" class="form-control" name="renewpassword" maxlength="16" placeholder="Nhập lại mật khẩu mới">
                    </div>

                </div>

            }
            <button type="submit" class="btn btn-primary btn-block" name="xacnhan" value="true">Cập nhật mật khẩu</button>
        }
    </div>
</div>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg"
                cx="24"
                cy="24"
                r="22"
                fill="none"
                stroke-width="4"
                stroke="#eeeeee" />
        <circle class="path"
                cx="24"
                cy="24"
                r="22"
                fill="none"
                stroke-width="4"
                stroke-miterlimit="10"
                stroke="#F96D00" />
    </svg>
</div>
<style>

    .back-index a {
        margin-left: 20px;
    }

        .back-index a:hover {
            margin-left: 25px;
            color: green;
            transition-duration: 0.7s;
        }
</style>
<script>

</script>
